.services-container {
    text-align: center;
    padding: 40px;
    background-image: url('E:\Portfolio\myportfolio\public\images\india-tour-package.jpg'); /* Add an adventurous background */
    background-size: cover;
    color: #fff;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.service-item {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item h2 {
    color: #ff9800; /* Adventure theme colors */
}

.service-item p {
    color: #eee;
}
